[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=<your-user-name>
Restart=on-failure

ExecStart=/home/<your-user-name>/prometheus/prometheus \
  --config.file=/home/<your-user-name>/prometheus/prometheus.yml \
  --storage.tsdb.path=/home/<your-user-name>/prometheus/data

[Install]
WantedBy=multi-user.target